<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve existing files directly
  RewriteCond %{REQUEST_FILENAME} -s [OR]
  RewriteCond %{REQUEST_FILENAME} -l [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Otherwise, rewrite everything to index.php
  RewriteRule ^.*$ index.php [L]
</IfModule>

# Ensure that index.php is the default directory index file
DirectoryIndex index.php